<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.liu.ida.josfa969.tddd80" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/agora_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Initial Activity -->
        <activity
            android:name=".activities.InitialActivity"
            android:label="@string/app_name" >

            <!-- Sets this activity to the main activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Conversation Activity -->
        <activity
            android:name=".activities.ConversationActivity"
            android:label="@string/title_activity_conversation"
            android:parentActivityName=".activities.ProfileActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.ProfileActivity" />
        </activity>

        <!-- Found People Activity -->
        <activity
            android:name=".activities.FoundPeopleActivity"
            android:label="@string/title_activity_found"
            android:parentActivityName=".activities.SearchPeopleActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.ProfileActivity" />
        </activity>

        <!-- Found Ideas Activity -->
        <activity
            android:name=".activities.FoundIdeasActivity"
            android:label="@string/title_activity_found_ideas"
            android:parentActivityName=".activities.SearchIdeasActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.SearchIdeasActivity" />
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".activities.InitialActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.InitialActivity" />
        </activity>

        <!-- Other Profile Activity -->
        <activity
            android:name=".activities.OtherProfileActivity"
            android:label="@string/title_activity_other_profile"
            android:parentActivityName=".activities.ProfileActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.ProfileActivity" />
        </activity>

        <!-- Profile Activity -->
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".activities.LoginActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.LoginActivity" />
        </activity>

        <!-- Register Activity -->
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register_fragment"
            android:parentActivityName=".activities.InitialActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.InitialActivity" />
        </activity>

        <!-- Search People Activity -->
        <activity
            android:name=".activities.SearchPeopleActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".activities.ProfileActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.ProfileActivity" />
        </activity>

        <!-- Search Ideas Activity -->
        <activity
            android:name=".activities.SearchIdeasActivity"
            android:label="@string/title_activity_search_ideas"
            android:parentActivityName=".activities.ProfileActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.ProfileActivity" />
        </activity>

        <!-- Information Activity -->
        <activity
            android:name=".activities.InformationActivity"
            android:label="@string/title_activity_information"
            android:parentActivityName=".activities.OtherProfileActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.OtherProfileActivity" />
        </activity>

        <!-- Idea Detail Activity -->
        <activity
            android:name=".activities.IdeaDetailActivity"
            android:label="@string/title_activity_idea_detail"
            android:parentActivityName=".activities.ProfileActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.ProfileActivity" />
        </activity>

        <!-- Services -->


        <!-- Add Follower Service -->
        <!-- exported="false" makes the service available exclusively to this application -->
        <service
            android:name=".background_services.AddFollowerService"
            android:exported="false" />

        <!-- Remove Follower Service -->
        <!-- exported="false" makes the service available exclusively to this application -->
        <service
            android:name=".background_services.RemoveFollowerService"
            android:exported="false" />

        <!-- Search People Service -->
        <service
            android:name=".background_services.SearchPeopleService"
            android:exported="false" />

        <!-- Search Ideas Service -->
        <service
            android:name=".background_services.SearchIdeasService"
            android:exported="false" />

        <!-- Update User Data Service -->
        <service
            android:name=".background_services.UpdateUserDataService"
            android:exported="false" />

        <!-- Add Approving Service -->
        <service
            android:name=".background_services.AddApprovingService"
            android:exported="false" />

        <!-- Remove Approving Service -->
        <service
            android:name=".background_services.RemoveApprovingService"
            android:exported="false" />

        <!-- Get Following Service -->
        <service
            android:name=".background_services.GetFollowingService"
            android:exported="false" />

        <!-- Get Approving Service -->
        <service
            android:name=".background_services.GetApprovingService"
            android:exported="false" />

        <!-- Get Idea Feed Service -->
        <service
            android:name=".background_services.GetIdeaFeedService"
            android:exported="false" />

        <!-- Get Message Feed Service -->
        <service
            android:name=".background_services.GetMessageFeedService"
            android:exported="false" />

        <!-- Post Idea Service -->
        <service
            android:name=".background_services.PostIdeaService"
            android:exported="false" />

        <!-- Get Recent Messages Service -->
        <service
            android:name=".background_services.GetConversationService"
            android:exported="false" />

        <!-- Send Message Service -->
        <service
            android:name=".background_services.SendMessageService"
            android:exported="false" />

        <!-- Post Comment Service -->
        <service
            android:name=".background_services.PostCommentService"
            android:exported="false" />

        <!-- Get Comments Service -->
        <service
            android:name=".background_services.GetCommentsService"
            android:exported="false" />

        <!-- Get User Data Service -->
        <service
            android:name=".background_services.GetUserDataService"
            android:exported="false" />

        <!-- Is Approving Service -->
        <service
            android:name=".background_services.IsApprovingService"
            android:exported="false" />

        <!-- Is Following Service -->
        <service
            android:name=".background_services.IsFollowingService"
            android:exported="false" />

        <!-- Get Other User Recent Ideas Service -->
        <service
            android:name=".background_services.GetOtherUserIdeasService"
            android:exported="false" />

        <!-- Login User Service -->
        <service
            android:name=".background_services.LoginUserService"
            android:exported="false" />

        <!-- Register User Service -->
        <service
            android:name=".background_services.RegisterUserService"
            android:exported="false" />

        <!-- ++++++++++ -->
        <!-- Activities for v2 -->
        <!-- ++++++++++ -->
        <!-- Home Activity -->
        <activity
            android:name=".activities_v2.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>

        <!-- Search Activity -->
        <activity
            android:name=".activities_v2.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".activities_v2.HomeActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities_v2.HomeActivity" />
        </activity>

        <!-- Settings Activity -->
        <activity
            android:name=".activities_v2.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities_v2.HomeActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities_v2.HomeActivity" />
        </activity>
    </application>

</manifest>
