<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.liu.ida.josfa969.tddd80" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Initial Activity -->
        <activity
            android:name="se.liu.ida.josfa969.tddd80.activities.InitialActivity"
            android:label="@string/app_name" >

            <!-- Sets this activity to the main activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Conversation Activity -->
        <activity
            android:name="se.liu.ida.josfa969.tddd80.activities.ConversationActivity"
            android:label="@string/title_activity_conversation"
            android:parentActivityName="se.liu.ida.josfa969.tddd80.activities.OtherProfileActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.OtherProfileActivity" />
        </activity>

        <!-- Found People Activity -->
        <activity
            android:name="se.liu.ida.josfa969.tddd80.activities.FoundPeopleActivity"
            android:label="@string/title_activity_found"
            android:parentActivityName="se.liu.ida.josfa969.tddd80.activities.SearchPeopleActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.ProfileActivity" />
        </activity>

        <!-- Found Ideas Activity -->
        <activity
            android:name="se.liu.ida.josfa969.tddd80.activities.FoundIdeasActivity"
            android:label="@string/title_activity_found_ideas"
            android:parentActivityName="se.liu.ida.josfa969.tddd80.activities.SearchIdeasActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.SearchIdeasActivity" />
        </activity>

        <!-- Login Activity -->
        <activity
            android:name="se.liu.ida.josfa969.tddd80.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="se.liu.ida.josfa969.tddd80.activities.InitialActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.InitialActivity" />
        </activity>

        <!-- Other Profile Activity -->
        <activity
            android:name="se.liu.ida.josfa969.tddd80.activities.OtherProfileActivity"
            android:label="@string/title_activity_other_profile"
            android:parentActivityName="se.liu.ida.josfa969.tddd80.activities.ProfileActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.ProfileActivity" />
        </activity>

        <!-- Profile Activity -->
        <activity
            android:name="se.liu.ida.josfa969.tddd80.activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName="se.liu.ida.josfa969.tddd80.activities.LoginActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.LoginActivity" />
        </activity>

        <!-- Register Activity -->
        <activity
            android:name="se.liu.ida.josfa969.tddd80.activities.RegisterActivity"
            android:label="@string/title_activity_register_fragment"
            android:parentActivityName="se.liu.ida.josfa969.tddd80.activities.InitialActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.InitialActivity" />
        </activity>

        <!-- Search People Activity -->
        <activity
            android:name="se.liu.ida.josfa969.tddd80.activities.SearchPeopleActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="se.liu.ida.josfa969.tddd80.activities.ProfileActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.ProfileActivity" />
        </activity>

        <!-- Search Ideas Activity -->
        <activity
            android:name="se.liu.ida.josfa969.tddd80.activities.SearchIdeasActivity"
            android:label="@string/title_activity_search_ideas"
            android:parentActivityName="se.liu.ida.josfa969.tddd80.activities.ProfileActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.ProfileActivity" />
        </activity>

        <!-- Information Activity -->
        <activity
            android:name="se.liu.ida.josfa969.tddd80.activities.InformationActivity"
            android:label="@string/title_activity_information"
            android:parentActivityName="se.liu.ida.josfa969.tddd80.activities.OtherProfileActivity" >

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.OtherProfileActivity" />
        </activity>

        <!-- Idea Detail Activity -->
        <activity
            android:name="se.liu.ida.josfa969.tddd80.activities.IdeaDetailActivity"
            android:label="@string/title_activity_idea_detail"
            android:parentActivityName=".activities.ProfileActivity">

            <!-- The following adds support for parent activities for all API levels lower than 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.liu.ida.josfa969.tddd80.activities.ProfileActivity" />
        </activity>


        <!-- Services -->

        <!-- Add Follower Service -->
        <!-- exported="false" makes the service available exclusively to this application -->
        <service
            android:name="se.liu.ida.josfa969.tddd80.background_services.AddFollowerService"
            android:exported="false" />

        <!-- Remove Follower Service -->
        <!-- exported="false" makes the service available exclusively to this application -->
        <service
            android:name="se.liu.ida.josfa969.tddd80.background_services.RemoveFollowerService"
            android:exported="false" />

        <!-- Search People Service -->
        <service
            android:name="se.liu.ida.josfa969.tddd80.background_services.SearchPeopleService"
            android:exported="false" />

        <!-- Search Ideas Service -->
        <service
            android:name="se.liu.ida.josfa969.tddd80.background_services.SearchIdeasService"
            android:exported="false" />

        <!-- Update User Data Service -->
        <service
            android:name="se.liu.ida.josfa969.tddd80.background_services.UpdateUserDataService"
            android:exported="false" />

        <!-- Add Approving Service -->
        <service
            android:name="se.liu.ida.josfa969.tddd80.background_services.AddApprovingService"
            android:exported="false" />

        <!-- Remove Approving Service -->
        <service
            android:name="se.liu.ida.josfa969.tddd80.background_services.RemoveApprovingService"
            android:exported="false" />

        <!-- Get Following Service -->
        <service
            android:name="se.liu.ida.josfa969.tddd80.background_services.GetFollowingService"
            android:exported="false" />

        <!-- Get Approving Service -->
        <service
            android:name="se.liu.ida.josfa969.tddd80.background_services.GetApprovingService"
            android:exported="false" />

        <!-- Get Idea Feed Service -->
        <service
            android:name="se.liu.ida.josfa969.tddd80.background_services.GetIdeaFeedService"
            android:exported="false" />

        <!-- Post Idea Service -->
        <service
            android:name="se.liu.ida.josfa969.tddd80.background_services.PostIdeaService"
            android:exported="false" />

        <!-- Get Recent Messages Service -->
        <service
            android:name="se.liu.ida.josfa969.tddd80.background_services.GetRecentMessagesService"
            android:exported="false" />

        <!-- Send Message Service -->
        <service
            android:name="se.liu.ida.josfa969.tddd80.background_services.SendMessageService"
            android:exported="false" />

        <!-- Post Comment Service -->
        <service
            android:name=".background_services.PostCommentService"
            android:exported="false"/>

        <!-- Get Comments Service -->
        <service
            android:name=".background_services.GetCommentsService"
            android:exported="false"/>

        <!-- Get User Data Service -->
        <service
            android:name=".background_services.GetUserDataService"
            android:exported="false"/>

    </application>

</manifest>
